[{boss, [
    {path, "/home/matt/ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [strat_game]},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_username, "strat_game"},
    {db_password, "123red"},
    {db_database, "strat_game"},
    {db_adapter, mongodb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ strat_game, [
    {path, "../strat_game"},
    {base_url, "/"}
]}
].
